body {
    background-color: rgb(205, 196, 212);
}
.contents {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.settings {
    display: flex;
}

.title {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 36px;
    

}
#size, #clear {
    border: 0;
    border-radius: 1pc;
    font-size: 24px;
    margin: 5%;
    padding: 1.5%
}



#container {
    display: flex;
    flex-direction: column;
    
}


.sor {
    display: flex;
    flex: auto;
    align-self: center;
    justify-items: center;
}
.oszlop {
    border: 1px solid;
    border-color: grey;
    background-color: white;
    transition-duration: 0.2s;

}

